@media (max-width: 700px) {
	.hideWhenSmall {
		display: none;
	}
	.commenterAvatar {
		display: none;
	}
}
@media (max-width: 1024px) {
	.navbar-menu {
		.navbar-item {
			color: black;
		}
	}
}
#twitterUser {
	@media (min-width: 1024px) {
		color: #f5f5f5;
		&:hover {
			background-color: #292929;
		}
	}
	@media (max-width: 1024px) {
		color: black;
		&:hover {
			color: #3273dc;
			background-color: #f5f5f5;
		}
	}
	align-items:center;
	display: flex;
	padding: .5rem 1rem;
	span {
		margin-left: 2px;
	}
	.twitterAvi {
		border-radius: 100%;
	}
}
html {
	height: 100%;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #363636;
	height: 100%;
}
.pagination {
	color: black !important;
}
.hidden {
	display: none;
}
.field {
	.title {
		border-bottom: 1px dotted lightgrey;
	}
}
.books {
	background-color: white;
}
.comments {
	margin-top: 15px;
	.title {
		color: black !important;
	}
}

.navbar-item {
	color: white;
}
#title-level {
	border-bottom: 1px solid black;
	color: black;
	margin-bottom: 0;
	&:hover {
		background-color: white;
		color: black;
	}
	.level-item {
		.column {
			&:first-child {
				@media (min-width: 700px) {	
					border-right: 1px solid black;
				}
			}
		}
	}
}
.level-books {
	a {
		width: 100%;
		color:black !important;
	}
	.level-item {
		color:black;
	}
	&:not(:last-child) {
		border-bottom: 1px solid lightgrey;
		margin-bottom: 0;
	}
	&:hover {
		background-color: lightgrey;
		.level-item {
			color: black;
		}
	}
}
	

a div div {
	color: #7a7a7a;
	&:hover {
		color: black;
	}
}
textarea {
	resize: none;
}
.media {
	padding: 5px;
}

.twitterer {
	color: white !important;
	vertical-align: middle !important;
	font-size: 1rem;
	border: none;
	background-color:#209cee;
	&:hover {
		cursor: pointer;
		background-color:#1496ed;
	}
	svg {
		color: white !important;
	}
}

.pagination-list {
	padding: 5px;
}
.pagination-link, .pagination-next, .pagination-previous {
	cursor: pointer;
}
.space-taker {
	height: 25px;
	display: block;
}
.pagination.is-centered .pagination-next {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}
.comment-content	{
	color: black;
	a {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
}

